
.left-block {
    position: relative;
    top: 50px;

}
.right-block {
    position: relative;
    top: 50px;
    margin: 15px 0;
}
.bottom-banner> .images-bottom > img {
    width: 100%;
}

.left-block-title {
    margin: 20px 0;
}
.left-block-categories > a {
    display: block;
    position: relative;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: -1px;
    font-size: 16px;
}
.left-block-categories > a:hover {
    background-color: #dddddd;
}
.left-block-categories > a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.left-block-categories > a:last-child {
    margin-bottom: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.images-bottom {

    position: relative;
    margin: 25px 0;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.money {
    float: right;
}

.bottom-banner .title > a {
    text-decoration: none;
    font-size: 18px;
}
.bottom-banner .rating > p {
    margin: 0;
    color: #b5002b;
}
.rating .reviews {
    float: right;
}
.bottom-banners-text {
    padding: 10px;
}
hr {
    border-top: 1px solid #ddd;
    position: relative;
    top:40px;
}
.footer {
    position: relative;
    top: 100px;
    margin-bottom: 50px;
}

